OPENAI_API_KEY=your_api_key
OPENAI_MODEL_NAME=qwen-turbo
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=GopherAI
RABBITMQ_DEFAULT_USER=root
RABBITMQ_DEFAULT_PASS=123456
